html {
  color: #ededed;
  background-color: #121212;
}

.container {
  background-color: #1e1e1e;
  display: flex;
  flex-direction: column;
  align-items: center; /* centers horizontally */
  gap: 1rem;
  margin-top: 2rem;
  width: 400px;
  height: 350px;
  border-radius: 15px;
}

input {
  margin: 5px;
  justify-self: center;
}
.movie-card {
  margin: 10px;
  background-color: #1e1e1e;
  color: white;
  padding: 20px;
  border-radius: 10px;
  font-family: "Inter", sans-serif;
}
#root {
  font-family: "Inter", sans-serif;
  display: flex;
  justify-content: center; /* horizontal */
  align-items: center; /* vertical */
  height: 100vh; /* make parent fill screen */
}

input {
  width: 80%;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  font-family: "Inter", sans-serif;

  color: #f5f5f5;
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 0.75rem;

  outline: none;
  backdrop-filter: blur(6px);
}

button {
  width: 100%;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  font-weight: 600;
  font-family: "Inter", sans-serif;
  letter-spacing: 0.5px;

  color: #fff;
  background: linear-gradient(90deg, #4f46e5, #22d3ee);
  border: none;
  border-radius: 0.75rem;

  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 0 15px rgba(34, 211, 238, 0.25);
  margin-top: 10px;
}

button[type="submit"]:hover {
  transform: translateY(-2px);
  box-shadow: 0 0 20px rgba(34, 211, 238, 0.4);
  background: linear-gradient(90deg, #22d3ee, #4f46e5);
}

button[type="submit"]:active {
  transform: translateY(0);
  box-shadow: 0 0 10px rgba(34, 211, 238, 0.25);
}

button[type="submit"]:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
