body{
    display: flex; 
    align-items: center; 
    justify-content: center;
    min-height: 100vh; 
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';}

.container{
    border-radius: 7px; 
    background-color: rgb(126, 126, 227);
    padding: 40px;
}


button {
    border: none;
    padding: 5px;
    border-radius: 7px;
    font-size: 10px;
    font-family: inherit;
    margin: 4px;
    cursor: pointer;
}

input {
    padding: 5px;
    border-radius: 7px;
    border: none;
    font-size: 10px;
    font-family: inherit;
    margin: 5px
}

ul {
    border-radius: 7px; 
    background-color: rgb(216, 228, 255);
    padding: 10px;
    margin-top: 10px;
}


#itemDiv {
    display: flex;
}

#deleteButton {
    background-color: rgb(230, 122, 122);
    color: white;
}

#listItem{
    list-style: none;
    flex-grow: 1; /* Take remaining space of div */
}

.filters{
    display: flex;
}

.listInfo{
    flex-grow: 1;
    font-size: 10px;
    padding: 10px;
}